mockup/beneficiaries.html

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>OptiPay</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/optipay.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home.html"><strong>Opti</strong>Pay</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="home.html">Home<img src="./img/home.png" /></a></li>
            <li class="active"><a href="dashboard.html">My account<img src="./img/wallet.png" /></a></li>
            <li class="active"><a href="logout.html">Logout<img src="./img/logout.png" /></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">


      <div class="row">
          <div class="col-xs-12">
                <h3>
                   <strong>My beneficiaries</strong>
                </h3>
          </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default recipient-panel">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-6 account-label">Alexis Basley</div>
                <div class="col-xs-6"></div>
              </div>

              <div class="row">
                <div class="col-xs-2">IBAN</div>
                <div class="col-xs-10">FR7630066001057380110041016</div>
              </div>
            </div>
          </div>
        </div>
      </div>    

      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default recipient-panel">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-6 account-label">Maxime Barbet</div>
                <div class="col-xs-6"></div>
              </div>

              <div class="row">
                <div class="col-xs-2">IBAN</div>
                <div class="col-xs-10">FR7630066573801611004100010</div>
              </div>
            </div>
          </div>
        </div>
      </div>  

      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default recipient-panel">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-6 account-label">Yoni Boukhobza</div>
                <div class="col-xs-6"></div>
              </div>

              <div class="row">
                <div class="col-xs-2">IBAN</div>
                <div class="col-xs-10">FR7630066100011641000105738</div>
              </div>
            </div>
          </div>
        </div>
      </div>  

      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default recipient-panel">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-6 account-label">Yann Chateux</div>
                <div class="col-xs-6"></div>
              </div>

              <div class="row">
                <div class="col-xs-2">IBAN</div>
                <div class="col-xs-10">FR7630066100001057380116410</div>
              </div>
            </div>
          </div>
        </div>
      </div>  

      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default recipient-panel">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-6 account-label">Camille Milleville</div>
                <div class="col-xs-6"></div>
              </div>

              <div class="row">
                <div class="col-xs-2">IBAN</div>
                <div class="col-xs-10">FR7630066103801160410001057</div>
              </div>
            </div>
          </div>
        </div>
      </div>  

      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default recipient-panel">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-6 account-label">Matthieu Dubois</div>
                <div class="col-xs-6"></div>
              </div>

              <div class="row">
                <div class="col-xs-2">IBAN</div>
                <div class="col-xs-10">FR7630066100010573801160041</div>
              </div>
            </div>
          </div>
        </div>
      </div>  

      <div class="row">
          <div class="col-xs-12 text-center">
            <button type="submit" class="btn btn-primary" style="border-radius: 50%"><span class="glyphicon glyphicon-plus"></span></button>
          </div>
        </div>
      </div> 

    </div> <!-- /container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="./js/vendor/jquery.min.js"><\/script>')</script>
    <script src="./js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

optipay/template/beneficiaries.pug
doctype html
html
    head
        title= "Beneficiaries"
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

    body
        append styles
        link(rel='stylesheet', href='http://authalys.com/optipay.css')
block body
nav.navbar.navbar-default.navbar-static-top
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#')
                strong Opti
                | Pay
        #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.text-right
                li.active
                    a(href='/home')
                        | Home
                        img(src='http://authalys.com/imgs/home.png')
                li.active
                    a(href='/accounts')
                        | My accounts
                        img(src='http://authalys.com/imgs/wallet.png')
                li.active
                    a(href='/beneficiaries')
                        | Beneficiaries
                        img(src='http://authalys.com/imgs/beneficiaries.png')
        // /.nav-collapse

.container
    .row
        .col-xs-12
            h3
                strong My beneficiaries
            each val in beneficiaries
                .row
                    .col-xs-12
                        .panel.panel-default.recipient-panel
                            .panel-body
                                .row
                                    .col-xs-6.account-label #{val.name}
                                    .col-xs-6
                                .row
                                    .col-xs-2 Account ID
                                    .col-xs-10 #{val.account_id}
                                .row
                                    .col-xs-2 Bank ID
                                    .col-xs-10 #{banks[val.bank_id].full_name}
    .row
        .col-xs-12.text-center
            button.btn.btn-primary(type='submit', style='border-radius: 50%')
                span.glyphicon.glyphicon-plus
// /container

script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
